# Environment
NODE_ENV=development

# Postgres config
POSTGRES_DB=<placeholder>
POSTGRES_USER=<placeholder>
POSTGRES_PASSWORD=<placeholder>

# Docker DB host
# DB_HOST=postgres

DB_HOST=localhost

DATABASE_URL=postgresql://<placeholder>:<placeholder>@${DB_HOST}:5432/${POSTGRES_DB}?schema=<placeholder>

# Redis
REDIS_HOST=127.0.0.1 # localhost (for docker use redis)
REDIS_PORT=6379
REDIS_PASSWORD=<same_as_defined_in_docker_compose_file>

# Fastify
SERVER_PORT=<placeholder>
CLIENT_URL=<placeholder>

# Security
JWT_ACCESS_SECRET=<placeholder>

# Minio
MINIO_ROOT_USER=<username>
MINIO_ROOT_PASSWORD=<password_more_or_equal_to_8_characters>
MINIO_DEFAULT_BUCKETS=<bucket_name>
MINIO_ENDPOINT=<url>