{
	"$schema": "https://json.schemastore.org/swcrc",
	"sourceMaps": true,
	"exclude": ["test/*"],
	"jsc": {
		"target": "esnext",
		"parser": {
			"syntax": "typescript",
			"decorators": true,
			"dynamicImport": true
		},
		"baseUrl": "./",
		"paths": {
			"@common/*": ["./src/common/*"],
			"@/*": ["./src/*"]
		}
	},
	"minify": false
}
