# Environment
NODE_ENV=production

# Postgres config
POSTGRES_DB=<placeholder>
POSTGRES_USER=<placeholder>
POSTGRES_PASSWORD=<placeholder>
DB_HOST=postgres

DATABASE_URL=postgresql://<placeholder>:<placeholder>@${DB_HOST}:<placeholder>/${POSTGRES_DB}?schema=<placeholder>

# Redis
REDIS_HOST=redis

REDIS_PORT=<placeholder>
REDIS_PASSWORD=<placeholder>

# Express
SERVER_PORT=<placeholder>

# Security
JWT_ACCESS_SECRET=<placeholder>

# Localstack - The data can be fake
SERVICES=s3
AWS_ACCESS_KEY_ID=<placeholder>
AWS_SECRET_ACCESS_KEY=<placeholder>
AWS_DEFAULT_REGION=us-east-1
AWS_DEFAULT_OUTPUT=json
AWS_BUCKET=<placeholder>