# Environment
NODE_ENV=production

# Postgres config
POSTGRES_DB=<placeholder>
POSTGRES_USER=<placeholder>
POSTGRES_PASSWORD=<placeholder>
DB_HOST=postgres

DATABASE_URL=postgresql://<placeholder>:<placeholder>@${DB_HOST}:<placeholder>/${POSTGRES_DB}?schema=<placeholder>

# Redis
REDIS_HOST=redis

REDIS_PORT=<placeholder>
REDIS_PASSWORD=<same_as_defined_in_docker_compose_file>

# Fastify
SERVER_PORT=<placeholder>

# Security
JWT_ACCESS_SECRET=<placeholder>

# Minio
MINIO_ROOT_USER=<username>
MINIO_ROOT_PASSWORD=<password_more_or_equal_to_8_characters>
MINIO_DEFAULT_BUCKETS=<bucket_name>
MINIO_ENDPOINT=<url>